table {
  width: 100%;
}

th {
  font-weight: 700;
  font-size: 14px;

}

.icon-edit {
  img {
    width: 1rem;
    cursor: pointer;
    content: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZ_PshQF9qGn6tHSn2AWDTQQCsX60u63ZoO7h_-UoNHEIOuQgumnbBJfbiuPLHYTUYyKI&usqp=CAU" );
    }
}
