<ng-template #loading>
  <div class="skeleton-header">
    <ngx-skeleton-loader
    count="1"
    appearance="line"
    [theme]="{width: '100%', height: '30px', 'margin-bottom': '5px', 'border-radius': '3px'}"
    >
    </ngx-skeleton-loader>
    <ngx-skeleton-loader
    count="1"
    appearance="line"
    [theme]="{width: '100%', height: '30px', 'margin-bottom': '5px', 'border-radius': '3px'}"
    >
    </ngx-skeleton-loader>
    <ngx-skeleton-loader
    count="1"
    appearance="line"
    [theme]="{width: '100%', height: '30px', 'margin-bottom': '5px', 'border-radius': '3px'}"
    >
    </ngx-skeleton-loader>
  </div>
  <div class="skeleton-body">
    <ngx-skeleton-loader
    count="3"
    appearance="line"
    [theme]="{width: '100%', height: '30px', 'margin-bottom': '5px', 'border-radius': '3px'}"
    >
    </ngx-skeleton-loader>

  </div>
</ng-template>
<section>
  <div *ngIf="courses$ | async as courses; else loading">
    <table mat-table [dataSource]="courses" class="mat-elevation-z0">
      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef> Categoria </th>
        <td mat-cell *matCellDef="let course"> {{ course.categoria }} </td>
      </ng-container>

      <ng-container matColumnDef="curso">
        <th mat-header-cell *matHeaderCellDef> Curso </th>
        <td mat-cell *matCellDef="let course"> {{ course.curso }} </td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let course">
          <span class="icon-edit" (click)="editar(course)"><img alt=""></span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</section>
